h1{
    text-align: center;
    color:black;
}
 
 #to-do{
    display: flex;
    justify-content: center;
    text-align: center;
} 

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5em;
}

.list{
    display: flex;
    justify-content: space-between;
}